.box{
    position:relative;
    width:118px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /* background: #226fed; */
    /* box-shadow: 0 30px 60px rgba(0,0,0,.2); */
}
.box .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
.box .percent svg{
    position: relative;
    width: 150px;
    height:150 px;
}
.box .percent svg circle{
    width:150px;
    height: 150px;
    fill: none;
    stroke-width: 5;
    stroke:black;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
.box .percent svg circle:nth-child(1){
    stroke-dashoffset:0;
    stroke:#f3f3f3;
}
.box .percent svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 75)/100);
    stroke:#03a9f4;
}

.box .percent .number{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
}
.box .percent .number h2{
    font-size:48px;
}
.box .percent .number h2 span{
    font-size: 24px;
}
